.indication-box {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s;
    position: absolute;
    background-color: black; /* Couleur de fond initiale */
    overflow: hidden;
}


.indication-box:hover {
    opacity: 1!important;
}