.start-key {
    width: 10px;
    height: 10px;
    border: solid 1px white;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 1s;
}

#start-keys {
    position: absolute;
    left: 50%;
    top: 2vh;
    width: 20vw;
    display: flex;
}

.white {
    background-color: white;
}